.mainHeading {
  text-align: center;
  align-self: center;
}
.heading {
  align-content: center;
  background-color: white;
  font-family: sans-serif;
  width: 400px;
  height: 400px;
  align-content: center;
}
/* 
body {
  background-color: cornflowerblue;
} */

.markbutton {
  background-color: silver;
  width: 5px;
  height: 5px;
}
.markbutton:hover {
  background-color: red;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22b0df;
}

.mainHeading .heading h1 {
  background-color: orange;
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* This makes the div a circle */
  margin: 20px auto;  /* Center the div and add some margin on top and bottom */
}

.colorChangeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  margin-top: 95px;
}

.colorChangeBtn:focus {
  outline: none;
}


.errorNotification {
  color: red;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid red;
  border-radius: 5px;
}
